<h1>All Tags</h1>

<ul id="articles">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag), class: 'article_title text-light text-capitalize btn btn-primary', id: "article_#{tag.id}" %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to 'Back to Articles list', articles_path, class: 'btn btn-info' %>